.tour {
  padding-left: 33px;
  padding-right: 33px;
}
.tour__slider {
  position: relative;
}
.subtitle--tour {
  text-align: center;
  font-size: 15px;
  padding: 13px;
}
.tour__item__foto {
  width: 100%;
}
.tour__item__foto img {
  width: 100%;
}
.tour__item__decription {
  padding: 16px;
}
.subsubtitle--tour {
  font-size: 15px;
  font-style: normal;
  padding-right: 40%;
  font-family: 'Montserrat Alternates', sans-serif;
}
.tour__slider__item {
  padding-left: 4px;
  padding-right: 4px;
}
.tour__item__decription__period {
  font-style: italic;
  font-size: 11px;
}
.tour__item__decription p {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 10px;
}
.tour__price {
  font-family: 'HelveticaNeueCyr-Bold', Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding-bottom: 6px;
}
.tour__price--old {
  text-decoration: line-through;
  font-size: 18px;
}
.btn--tour {
  margin: 20px auto;
  width: 100%;
}
.tour__sale {
  padding-bottom: 8px;
  text-align: center;
  font-size: 9px;
}
.tour__social {
  display: flex;
  justify-content: space-between;
  padding: 5px 16px;
}
.tour__social__txt {
  width: 65%;
  font-size: 9px;
}
.tour__social__icons .sosial__icon {
  font-size: 14px;
  padding: 0 3px;
}/*
*/
/*
.tour__slider .slick-next {
  right: 0;
}
.tour__slider .slick-prev {
  left: 0;
}*/
.tour__slider .slick-prev:before,
.tour__slider  .slick-next:before {
  font-size: 37px;
}

.tour__slider .slick-prev,
.tour__slider .slick-next {
  height: 37px;
  width: 37px;
}
/*
div[tabindex="-1"]+div[tabindex="-1"] {
  background-color: red;
  position: relative;
  right: -9%;
  z-index: -1;
  opacity: 0.5;
  margin-top: 83px;
  margin-right: 2%;
  zoom: 83%;
}

div[tabindex="0"]+div[tabindex="-1"] {
  background-color: yellow;
  position: relative;
  left: -7%;
  z-index: -1;
  opacity: 0.5;
  margin-top: 83px;
  zoom: 83%;
}
div[tabindex="0"],
.slick-slide.slick-cloned {
  background-color: green;
  position: relative;
  left: auto;
  z-index: 1;
  opacity: 1;
  margin-top: auto;
  zoom: 100%;
}*/