.sales {
  padding-left: 24px;
  padding-right: 24px;
}
.sales__slider__item {
  padding: 15px 26px;
  margin: 8px 15px;
  text-align: center;
  min-height: 116px;
}
.subtitle--sales {
  margin-bottom: 8px;
}
.sales__slider__item p,
.sales__slider__item ul {
  font-size: 10px;
}