.manuals {
  padding-left: 24px;
  padding-right: 24px; 
  background: url('../img/12-manuals-bg.png');
  background-position-x: 77%;
  background-size: cover;
}
.manuals__wrap {
  padding: 22px;
  max-width: 448px;
  margin: 0 auto;
}
.title--manuals {
  margin: 0 auto;
}
.subtitle--manuals {
  margin: 0 auto;
  padding-top: 11px;
  padding-bottom: 11px;
}
