.contacts__items {

}
.contacts__item {
  font-size: 14px;
  padding: 10px 10px 10px 47px;
  display: flex;
  align-items: center;
}
.contacts__item__icon {
  margin-right: 15px;
}
.contacts__item__icon
.contacts__item ul {

}
.contacts__item__icon svg {
  width: 34px;
  height: 34px;
}
