.how {
  background: url('../img/3-pattern.png');
  background-position: 0 0;
background-repeat: repeat;
background-size: 21%;


}



.how__pic {
  width: 100%;
}
.how__pic img {
  width: 100%;
}
.how__slider {
  padding: 15px 9px;
  font-size: 11px;
}
.title--how--desctop {
  display: none;
}