
.statistic-items {
  padding-left: 50%;
}
.statistic__numeric {
  font-size: 25px;

  font-family: 'Montserrat Alternates', sans-serif;
}
.statistic__description {
  font-size: 12px;
  padding-bottom: 24px;
}