.statistic {
  background: url('../img/6-statistic-bg.png');
  background-position-x: 72%;
  background-size: cover;
}
.statistic-items {
  padding-left: 50%;
}
.statistic__numeric {
  font-size: 25px;

  font-family: 'Montserrat Alternates', sans-serif;
}
.statistic__description {
  font-size: 12px;
  padding-bottom: 24px;
}