@media screen and (min-width: 480px) {
  .how__slider {
    font-size: 20px;
  }
  .mk__slider__decription {
    font-size: 20px;
  }
  .subtitle--mk {
    font-size: 30px;
  }
  /*6*/
  .statistic-items {
    padding-left: 64%;
  }
  /*7*/
  .team__item--full>.team__item__description {
    position: relative;
    padding-bottom: 12px;
  }
  .team__item__description--full-mob {
    position: static;
    width: auto;
  }
  /*10*/
  .tour__slider__item {
    padding-left: 50px;
    padding-right: 50px;
  }
  .subtitle--tour {
    font-size: 29px;
  }
  .subsubtitle--tour {
    font-size: 26px;
  }
  .tour__item__decription__period {
    font-size: 18px;
  }
  .tour__item__decription p {
    font-size: 17px;
  }
  .tour__price {
    font-size: 28px;
  }
  .tour__price--old {
    font-size: 31px;
  }
  .btn--tour {
    font-size: 18px;
  }
  .tour__sale {
    font-size: 15px;
  }
  .tour__social__txt {
    font-size: 14px;
  }
 


}
@media screen and (min-width: 750px) {

/*0*/
  .fix-top__planshet,
  .fix-top__desctop {
    justify-content: space-between;
    flex-grow: 1;
    text-align: center;
  }
  .fix-top__planshet {
    display: flex;
    flex-grow: 1;
  }
  .fix-top__button-order,
  .fix-top__button-order,
  .fix-top__phone,
  .fix-top__mail {
    flex-grow: 1;
  }
  .catalog {
    right: 0;
  }
/*1*/
  .main__item__name {
    width: auto;
    padding: 18px;
    bottom: 110px;
  }
  .main__season {
    font-size: 50px;
  }
  .main__season__name {
    font-size: 33px;
  }
  .main__item__date {
    width: auto;
    bottom: 55px;
    padding: 10px 20px;
    font-size: 43px;
  }
  /*5*/
  .has-question__form {
    width: 50%;
  }
  /*7*/
  .team__item__description--full {
    font-size: 17px;
  } 
  .team__slider-for-visible .sosial__icon {
    font-size: 26px;
  }
  /*9*/
  .conditions__item__description p {
    font-size: 20px;
  }
  .team__memder__name {
    font-size: 25px;
  }
  .team__memder__position {
    font-size: 17px;
  }
  /*10*/
  .tour__slider__item {
    padding-left: 100px;
    padding-right: 100px;
  }
  .tour__item__decription {
    padding: 30px;
  }
  .tour__social {
    padding: 10px 30px;
  }
  .tour__social__icons .sosial__icon {
    font-size: 26px;
  }
  /*13*/
  .contacts__items {
    display: flex;
    flex-wrap: wrap;
  }
  .contacts__item:nth-child(2) {
    order: 2;
  }
  .contacts__item:nth-child(3) {
    order: 1;
  }
  .contacts__item {
    width: 50%;
  }
 


}
@media screen and (min-width: 980px) {
/*0*/
  .fix-top__planshet {
    display: none;
  }
  .fix-top__title {
    display: none;
  }
  .fix-top__desctop {
    display: flex;
  }
  .fix-top__title {
    display: block;
  }

/*1*/

  .main__item__name {
    width: 653px;
    padding: 18px;
    bottom: 153px;
  }
  .main__season {
    font-size: 77px;
  }
  .main__season__name {
    font-size: 49px;
  }
  .main__item__date {
    width: 426px;
    bottom: 22px;
    padding: 10px 20px;
    font-size: 55px;
  }
  .btn--main {
    position: relative;
    bottom: -102px;
    z-index: 2;

  }
    /*2*/
  .about__slider .slick-track {
    display: flex;
    align-items: flex-end;
  }
  .about__desctop p {
    padding-right: 10px;
  }
  .title--about {
    text-align: left;
  }
  .title-typical {
    font-size: 60px;
  }
  /*3*/
  .how__item {
    display: flex;
    padding: 25px 14px 14px 14px;
  }
  .how__pic {
    width: 515px;
    margin-right: 84px;
  }
  .how__pic+div{
    width: 515px;
  }
  .how__slider {
    font-size: 18px;
  }
  .how__slider .slick-track {
    display: flex;
    flex-direction: column; 

  }
  .how__slider .slick-slide {
    width: 100%!important;
  }
  .title--how--mobile {
    display: none;
  }
  .title--how--desctop {
    display: block;
  }
  .how__slider p {
    margin-bottom: 20px;
  }
  /*4*/
  .mk .slick-track {
    display: flex;
    flex-wrap: wrap;
    width: 100%!important;
  }
  .mk .section__item {
     width: 45%!important;
     margin-bottom: 42px;
     margin-top: 42px;
  }
  .mk .mk__slider__item {
    padding: 25px;
    min-height: 238px;
  } 
  /*.mk .mk__slider__item:nth-child(2n) {
    margin-left: auto;
  }*/
  .mk__slider__item:nth-child(3) {
    order: 1;
  }
  /*5*/
  .form-typical input {
    font-size: 22px;
  }
  .form-typical input {
    margin: 12px 0;
  }
  /*6*/
  .statistic__numeric {
    font-size: 40px;
  }
  .statistic__description {
    font-size: 20px;
  }
  /*7*/
  .team {
    padding-left: 34px;
    padding-right: 34px;
  }
  .team__slider-for-visible .slick-track {
    display: flex;
  }
  .team__item.team__item--full {
    width: 850px;
  }
  /*8*/
  .routine__about {
    font-size: 25px;
    max-width: 420px;
  }
  /*9*/
  .conditions__slider {
    width: 80%;
    margin: 0 auto;
  }
  .conditions__list {
    display: flex;
    text-align: left;
  }
  .conditions__list__img {
    width: 50px;
    height: 50px;
  }
  .conditions__list:nth-child(3n) .conditions__list__img {
    width: 74px;
  }
  .conditions__list p {
    padding-left: 10px;
  }
  /*10*/
  .tour__slider__item {
    padding-left: 285px;
    padding-right: 285px;
  }
  /*
  div[data-slick-index="-1"] {
    background-color: red;
    position: relative;
    right: -9%;
    z-index: -1;
    opacity: 0.5;
    margin-top: 83px;
    margin-right: 2%;
    zoom: 83%;
}
div[data-slick-index="1"] {
  background-color: yellow;
  position: relative;
  left: -7%;
  z-index: -1;
  opacity: 0.5;
  margin-top: 83px;
  zoom: 83%;
}
*/
/*11*/
  .subtitle--sales {
    font-size: 20px;
  }
  .sales__slider__item p,
  .sales__slider__item ul {
    font-size: 15px;
  }
  .sales__slider__item {
    min-height: 166px;
  }
  /*12*/
  .manuals__wrap {
    max-width: 490px;
    margin-left: auto;
    margin-right: 0;
  }
  .title--manuals {
    font-size: 40px;
  }
  .subtitle--manuals {
    font-size: 22px;
  }
  .form-typical button {
    margin: 25px 0;
  }
  /*13*/
  .qa__item {
    max-width: 290px;
  }
/*14*/
.not-activ-title {
  font-size: 32px;
}
.active-tab>.not-activ-title {
  font-size: 60px;
}
  .reviews .slick-track {
    display: flex;
    flex-direction: column;
  }
  .reviews__item {
    width: 100%!important;
    padding: 20px 18px 18px 98px;
    text-align: left;
  }
  .reviews__avatar {
    left: 25px;
    top: auto;
  }

  /*popup*/
  .popup__manuals__txt {
    font-size: 20px;
  }
  /*popup*/
  .popup__question__txt {
    font-size: 20px;
  }
  .reviews-video__slider .slick-track {
    display: block;
  }



}
@media screen and (min-width: 1170px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .wrap {
    width: 1170px;
    margin: 0 auto;
  }
  .wrap-mobile {
    display: flex;
  }
  .fix-top {
    padding-left: 0;
    padding-right: 0;
  }
  .fix-top .menu-toggle {
    display: none;
  }
  /*fix-menu*/

  .fix-menu .main-menu__items {
    display: flex;
  }
  .fix-menu .wrap {
    justify-content: space-between;
    align-items: center;
  }
  /*закрепление fix-menu*/

  .fixed {
    position: fixed;
    top: 37px;
    left: 0;
    width: 100%;
  }
  .shadow {
    -webkit-box-shadow: 0px 7px 17px -2px rgba(117,117,117,1);
    -moz-box-shadow: 0px 7px 17px -2px rgba(117,117,117,1);
    box-shadow: 0px 7px 17px -2px rgba(117,117,117,1);
  }
  /*end fix-menu*/
  .main-screen>nav {
    margin-top: 22px;
  }
  nav .logo {
    width: 69px;
    height: 69px;
  }
  nav .main__title {
    padding: 12px 9px;
  }

  .main-menu__item--desctop {
    display: flex;
  }
  .main-screen nav {
    display: flex;
    justify-content: space-between;
  }
  nav .wrap {
    justify-content: space-between;
  }
  .main-menu__items {
    margin: 0;
  }
  .main-screen nav ul.hidden {
    display: flex;
  }
  .main-menu__items {
    border-top: none;
  }
  .main-menu__item:after {
    content: none;
  }
  .main__item__name {
    width: 753px;
    padding: 17px 32px 24px 48px;
    bottom: 153px;
 //   margin-left: -34px
  }
  .main__season {
    font-size: 87px;
    line-height: 1;
  }
  .main__season__name {
    font-size: 49px;
    
  }
  .main__item__date {
    width: 585px;    
    bottom: 25px;
    padding: 14px 27px;
    font-size: 72px;
    margin-right: -6px;
    line-height: 1;
  }

/*2*/
  .about {
  // padding-top: 115px;
  // margin-top: -115px;
    margin-top: 0;
  }
  .title--about {
    padding-top: 0;
    padding-bottom: 30px;
  }
  .about__desctop p {
    max-width: 468px;
  }
  .btn--main {
    font-size: 24px;
    bottom: -131px;
    left: 116px;
    min-width: 233px;
    margin-bottom: 0;
  }
  /*3*/
  .section__item {
    margin-left: 0;
    margin-right: 0;
  }
  .title--how--desctop {
    padding-top: 0;
    padding-bottom: 0;
  }
  .how__slider {
    padding: 0;
  }
  /*4*/
  .mk {
    padding-bottom: 48px;
  }
  .title--mk {
    padding-bottom: 13px;
  }
  .mk .mk__slider__item {
    min-height: 267px;
    min-width: 528px;
  }
  .mk .mk__slider__item:nth-child(1),
  .mk .mk__slider__item:nth-child(4), {
    margin-right: 84px;
  }
  .mk__slider__icon {
    width: 60px;
  }
  .mk .mk__slider__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

/*5*/
  .has-question {
    padding-top: 33px;
  }
  .has-question__form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .has-question__form input {
    width: 40%;
    margin-left: 1%;
    margin-right: 1%;
  }
  .has-question__form button {
    width: 33%;
  }
  .btn--has-question {
    min-width: 400px;
    font-size: 20px;
    padding: 13px;
  }
  .form-typical .btn--has-question {
    margin-bottom: 0;
  }
  /*6*/
  .statistic {
    padding-top: 90px;
  }
  .statistic__numeric {
    font-size: 60px;
  }
  .statistic__description {
    font-size: 30px;
  }
  .statistic__description {
    padding-bottom: 44px;
  }
  .statistic-items li {
    width: 321px;
  }
  /*7*/
  .team__title {
    padding-top: 0;
  }
  .section .slick-prev:before,
  .section .slick-next:before {
    font-size: 60px;
  }
  .section .slick-next {
    right: 25px;
  } 
  .section .slick-prev {
    left: -64px;
  }
  .team__slider {
    margin-top: 60px;
  }
  .team__slider-for {
    margin-top: 40px;
  }
  .team__slider {
    padding: 0;
  }
  .team__item__description {
    padding: 15px;

  }
  .team__memder__name {
    font-size: 25px;
  }
  .team__memder__position {
    padding-top: 15px;
    font-size: 17px;
    line-height: 1.1;
  }
  /*8*/
  .routine {
    padding-bottom: 40px;
  }
  .routine__title {
    padding: 0 0 20px 0;
    line-height: 1;
  }
  .btn-routine {
    font-size: 25px;
    width: 641px;
    max-width: none;
    margin-bottom: 0;
  }
  /*9*/
  .conditions .section {
    padding-top: 70px;
    padding-bottom: 50px;
  }
  .conditions__slider {
    width: 974px;
    background-color: $color3;
  }
  .conditions__item__description {
    padding-top: 110px;
    padding-right: 52px;
    padding-bottom: 40px;
    padding-left: 40px;
  }
  .conditions__list__img {
    margin: 0 29px 0 0;
  }
  .conditions__buttons {
    margin-bottom: 0;
  }
  /*9*/
  .btn--condition {
    min-width: 230px;
  }

  /*13*/
  .qa__item {
    max-width: 350px;
  }
  /*10*/
  .title--tour {
    line-height: 1;
    padding: 0;
  }
  .tour {
    padding-bottom: 70px;
  }
  .subtitle--tour {
    padding-top: 32px;
    padding-block-end: 23px;
  }
  /*11*/
  .sales {
    padding-top: 40px;
  }
  .sales__title{
    padding: 0 0 28px 0;
    line-height: 1;
  }
  /*12*/
  .manuals {
    padding-top: 55px;
  }
  .manuals__wrap {
    padding-bottom: 42px;
  }
  /*13*/
  .title__qa {
    padding-bottom: 84px;
  }
  .qa .section {
    padding-bottom: 80px;
  }
  .qa__item {
    font-size: 20px;
  }
  .qa__item__btn {
    width: 230px;
    min-width: 230px;
    max-width: none;
    font-size: 20px;
  }
  .qa__item__question {
    font-size: 20px;
  }
  .qa__item__answer__txt {
    font-size: 20px;
  }
  /*14*/
  .reviews__name {
    font-size: 15px;
  }
  .reviews__data {
    font-size: 15px;
  }
  .reviews__slider__decription {
    font-size: 15px;
  }
  .question {
    padding-top: 45px;
    padding-bottom: 60px;
  }
  /*15*/
  .contacts__item {
    font-size: 20px;
  }
  .contacts__title {
    padding-bottom: 45px;
  }
  .contacts__item {
    padding-bottom: 50px;
  }
  .contacts__item__icon svg {
    width: 52px;
    height: 52px;
  }
  /*popup*/
  .popup-scroll{
    max-height: 570px;
  }
  .popup__routine__txt {
    font-size: 18px;
  }
}

@media screen and (min-width: 1300px) {
  .main__item__name {
    margin-left: -34px
  }
  .main__item__date {
    margin-right: -42px;
  }
  .section .slick-next {
    right: -25px;
  }
  .popup-scroll{
    max-height: 100%;
  }
}

