@media screen and (min-width: 480px) {
  .how__slider {
    font-size: 20px;
  }
  .mk__slider__decription {
    font-size: 20px;
  }
  .subtitle--mk {
    font-size: 30px;
  }
  /*6*/
  .statistic-items {
    padding-left: 64%;
  }
}
@media screen and (min-width: 750px) {

/*0*/
  .fix-top__planshet,
  .fix-top__desctop {
    justify-content: space-between;
    flex-grow: 1;
    text-align: center;
  }
  .fix-top__planshet {
    display: flex;
    flex-grow: 1;
  }
  .fix-top__button-order,
  .fix-top__button-order,
  .fix-top__phone,
  .fix-top__mail {
    flex-grow: 1;
  }
  .catalog {
    right: 0;
  }
/*1*/
  .main__item__name {
    width: auto;
    padding: 18px;
    bottom: 110px;
  }
  .main__season {
    font-size: 50px;
  }
  .main__season__name {
    font-size: 33px;
  }
  .main__item__date {
    width: auto;
    bottom: 55px;
    padding: 10px 20px;
    font-size: 43px;
  }
  /*5*/
  .has-question__form {
    width: 50%;
  }

}
@media screen and (min-width: 980px) {
/*0*/
  .fix-top__planshet {
    display: none;
  }
  .fix-top__title {
    display: none;
  }
  .fix-top__desctop {
    display: flex;
  }
  .fix-top__title {
    display: block;
  }
/*1*/

  .main__item__name {
    width: 653px;
    padding: 18px;
    bottom: 153px;
  }
  .main__season {
    font-size: 77px;
  }
  .main__season__name {
    font-size: 49px;
  }
  .main__item__date {
    width: 426px;
    bottom: 22px;
    padding: 10px 20px;
    font-size: 55px;
  }
  .btn--main {
    position: relative;
    bottom: -102px;
    z-index: 2;

  }
    /*2*/
  .about__slider .slick-track {
    display: flex;
    align-items: flex-end;
  }
  .about__desctop p {
    padding-right: 10px;
  }
  .title--about {
    text-align: left;
  }
  /*3*/
  .how__item {
    display: flex;
    padding: 13px;
  }
  .how__pic {
    width: 50%;
    margin-right: 5%;
  }
  .how__pic+div{
    width: 45%;
  }
  .how__slider {
    font-size: 18px;
  }
  .how__slider .slick-track {
    display: flex;
    flex-direction: column; 

  }
  .how__slider .slick-slide {
    width: 100%!important;
  }
  .title--how--mobile {
    display: none;
  }
  .title--how--desctop {
    display: block;
  }
  .how__slider p {
    margin-bottom: 20px;
  }
  /*4*/
  .mk .slick-track {
    display: flex;
    flex-wrap: wrap;
    width: 100%!important;
  }
  .mk .section__item {
     width: 45%!important;
     margin-bottom: 42px;
     margin-top: 42px;
  }
  .mk .mk__slider__item {
    padding: 25px;
    min-height: 238px;
  } 
  .mk .mk__slider__item:nth-child(2n) {
    margin-left: auto;
  }
  /*6*/
  .statistic__numeric {
    font-size: 40px;
  }
  .statistic__description {
    font-size: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .wrap {
    width: 1170px;
    margin: 0 auto;
  }
  .fix-top {
    padding-left: 0;
    padding-right: 0;
  }
  .main-menu__item--desctop {
    display: flex;
  }
  .main-screen nav {
    display: flex;
    justify-content: space-between;
  }
  .main-menu__items {
    margin: 0;
  }
  .main-screen nav ul.hidden {
    display: flex;
  }
  .main-menu__items {
    border-top: none;
  }
  .main-menu__item:after {
    content: none;
  }
  .main__item__name {
    width: 753px;
    padding: 15px 36px 15px 50px;
    bottom: 153px;
    margin-left: -36px
  }
  .main__season {
    font-size: 87px;
  }
  .main__season__name {
    font-size: 49px;
  }
  .main__item__date {
    width: 585px;    
    bottom: 24px;
    padding: 13px 27px;
    font-size: 73px;
    margin-right: -6px;
  }
  .btn--main {
    bottom: -122px;
  }
/*2*/
  .title-typical {
    font-size: 60px;
  }
/*5*/
  .form-typical {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .form-typical input {
    width: 40%;
    margin-left: 1%;
    margin-right: 1%;
  }
  .form-typical button {
    width: 33%;
    margin: 25px 0;
  }
  /*6*/
  .statistic__numeric {
    font-size: 60px;
  }
  .statistic__description {
    font-size: 30px;
  }
  /*7*/
  .team .slick-prev:before,
  .team .slick-next:before {
    font-size: 60px;
  }
  .team .slick-next {
    right: 25px;
  }
}

@media screen and (min-width: 1300px) {
  .main__item__date {
    margin-right: -42px;
  }
  .team .slick-next {
    right: -25px;
  }
}

