/*popup__manuals*/
.popup__manuals {
  margin-left: 24px;
  margin-right: 24px;
}
.popup__manuals__txt {
  font-style: italic;
  font-size: 13px;
  font-family: 'Constantia-Bold', 'Arial Narrow', Arial, sans-serif;
}
.title--manuals__popup {
  text-align: left;
}
.sosial-icons__manuals__popup {
  text-align: right;
  font-size: 23px;
  margin-top: 35px;
}
.sosial-icons__manuals__popup .sosial__icon {
  font-size: 23px;
}
/*end popup__manuals*/