
$color1: #4196cb; //blue
$color1-1:rgba(65, 150, 203, 0.5); //прозрачность 0,1
$color1-2:#778d9b; //dirty-blue
$color1-3: rgba(215, 236, 255, 0.8); //полупрозрачность синего



$color2: #a81a5c; //pink
$color2-1: rgba(168, 26, 92, 0.25); //pink//прозрачность 0,25

$color3: #ffffff; //white
$color3-1:rgba(255, 255, 255, 0.25); //прозрачность 0,25

$color4: #000000; //black
$color4-1: rgba(0, 0, 0, 0.4); //grey
$color4-2: #bababa; //grey2
$vk: #5167e8;
$facebook: #203097;
$telegram: #6fb2df;
$whatsapp: #82ce64;

a { //ссылки
  color: $color4;
}
.fix-top {
  background-color: $color3;
}
.fix-top__phone, //цвет телефона (и трубки) в фиксированной верхней планке
.fix-top__mail { //цвет почты (и конверта) в фиксированной верхней планке
  color: $color1-2;  
}
.fix-top { //цвет нижней рамки фиксированного меню
 border-bottom: 1px solid $color1-2;
}
.fix-top__title {  // цвет надписи "сезоны" на десктопе (фиксированное меню)
  color: $color4-1;
}
//социальные иконки
.fa-vk {
  color: $vk;
}
.fa-instagram {
  color: $color2;
}
.fa-facebook {
  color: $facebook;
}
.fa-telegram {
  color: $telegram;
}
.fa-whatsapp {
    color: $whatsapp;
}
.fa.sosial__icon:hover {
  color: $color1-2;
}
.fix-top__mail {
  border-left: 1px solid $color4-2;
  border-right: 1px solid $color4-2;
}
.main-menu__items a {
  color: $color1;
}
.main-menu__item:after {
  background-color: $color1;
}
.main-menu__item--mobile {
  border-top: 1px solid $color1;
}
.main-menu__item--mobile a {
  color: $color1;
}
/*main-screen*/
.main__item__name {
  background-color: $color3;
}
.main__title {
  color: $color3
}
.main__season {
  color: $color1;
}
.main__season__name {
  color: $color2;
}
.main__item__date {
  color: $color2;
  background-color: $color3;
}
@media screen and (min-width: 980px) {
.btn--main a:hover {
    border: 1px solid $color3;
  }
}
@media screen and (min-width: 1200px) {
  .main-menu__item--desctop+.main-menu__items a {
    color: $color3;
  }
  
}

/*end main screen*/
/*текст*/
.item-color--txt-1 {
  color: $color1;
}
.item-color--txt-2 {
  color: $color2;
}
.item-color--txt-3 {
  color: $color3;
}
button.item-color--bg-1 {
  background-color: $color1;
}
button.item-color--bg-2 {
  background-color: $color2;
} 
button.item-color--bg-3 {
  background-color: $color3;
}
/*кнопки btn*/
.item-color--bg-1 a {
  background-color: $color1;
}
.item-color--bg-2 a {
  background-color: $color2;
} 
.item-color--bg-3 a {
  background-color: $color3;
}
.item-color--txt-1 a {
  color: $color1;
}
.item-color--txt-2 a {
  color: $color2;
}
.item-color--txt-3 a {
  color: $color3;
}
//border
.item-color--brd-1 {
  border: 1px solid $color1;
}
.item-color--brd-2 {
  border: 1px solid $color2;
}
.item-color--brd-3 {
  border: 1px solid $color3;
}

//наведение на кнопки btn:hover
.btn-typical.item-color--bg-3.item-color--txt-1 a:hover {
  background-color: $color1;
  color: $color3;
}
//section 2
.about {
  background-color: $color1;
}
//dots in slider 
  //color1
.slider-dots--color-1 .slider--my-dots li.slick-active button:before {
  background-color: $color1;
}
.slider-dots--color-1 .slider--my-dots li button:before {
 background-color: $color1-1;
}
  //color2
.slider-dots--color-2 .slider--my-dots li.slick-active button:before {
  background-color: $color2;
}
.slider-dots--color-2 .slider--my-dots li button:before {
 background-color: $color2-1;
}
  //color3
.slider-dots--color-3 .slider--my-dots li.slick-active button:before {
  background-color: $color3;
}
.slider-dots--color-3 .slider--my-dots li button:before {
 background-color: $color3-1;
}

.how-overlay { 
  background: $color1-3;
}
.how__slider {
  background-color: $color3;
}
@media screen and (min-width: 980px) {
  .how__item {
    background-color: $color3;
  }
}
//4
.mk__slider__item {
  background-color: $color3;
}
//5
.has-question {
  background-color: $color3;
}
.btn--has-question:hover {
  background-color: $color3;
  color: $color2;
}