
$color1: #4196cb; //blue
$color1-1:#778d9b; //dirty-blue

$color2: #a81a5c; //pink

$color3: #ffffff; //white

$color4: #000000; //black
$color4-1: rgba(0, 0, 0, 0.4); //grey
$color4-2: #bababa; //grey2
$vk: #5167e8;
$facebook: #203097;


a { //ссылки
  color: $color4;
}
.fix-top {
  background-color: $color3;
}
.fix-top__phone, //цвет телефона (и трубки) в фиксированной верхней планке
.fix-top__mail { //цвет почты (и конверта) в фиксированной верхней планке
  color: $color1-1;  
}
.fix-top { //цвет нижней рамки фиксированного меню
 border-bottom: 1px solid $color1-1;
}
.fix-top__title {  // цвет надписи "сезоны" на десктопе (фиксированное меню)
  color: $color4-1;
}
//социальные иконки
.fa-vk {
  color: $vk;
}
.fa-instagram {
  color: $color2;
}
.fa-facebook {
  color: $facebook;
}
.fa.sosial__icon:hover {
  color: $color1-1;
}
.fix-top__mail {
  border-left: 1px solid $color4-2;
  border-right: 1px solid $color4-2;
}
.main-menu__items a {
  color: $color1;
}
.main-menu__item:after {
  background-color: $color1;
}
.main-menu__item--mobile {
  border-top: 1px solid $color1;
}
.main-menu__item--mobile a {
  color: $color1;
}
/*main-screen*/
.main__title {
  color: $color3
}