@font-face { 
  font-family: 'HelveticaNeueCyr-Bold'; 
  src: url('../fonts/HelveticaNeueCyr-Bold.woff2') format('woff2'),
        url('../fonts/HelveticaNeueCyr-Bold.eot') format('eot'),
        url('../fonts/HelveticaNeueCyr-Bold.otf') format('otf'),
        url('../fonts/HelveticaNeueCyr-Bold.svg') format('svg'),
        url('../fonts/HelveticaNeueCyr-Bold.ttf')  format('truetype'), /* Только если нужна поддержка старых Android, иначе закомментировать */ 
        url('../fonts/HelveticaNeueCyr-Bold.woff') format('woff'); 
  font-weight: 700; 
  font-style: bold; 
}
@font-face { 
  font-family: 'HelveticaNeueCyr-Medium'; 
  src: url('../fonts/HelveticaNeueCyr-Medium.woff2') format('woff2'),
        url('../fonts/HelveticaNeueCyr-Medium.eot') format('eot'),
        url('../fonts/HelveticaNeueCyr-Medium.otf') format('otf'),
        url('../fonts/HelveticaNeueCyr-Medium.svg') format('svg'),
        url('../fonts/HelveticaNeueCyr-Medium.ttf')  format('truetype'), /* Только если нужна поддержка старых Android, иначе закомментировать */ 
        url('../fonts/HelveticaNeueCyr-Medium.woff') format('woff'); 
  font-weight: 500; 
  font-style: normal; 
}
@font-face { 
  font-family: 'Constantia-Bold'; 
  src: url('../fonts/Constantia-Bold.woff2') format('woff2'),
        url('../fonts/Constantia-Bold.eot') format('eot'),
        url('../fonts/Constantia-Bold.svg') format('svg'),
        url('../fonts/Constantia-Bold.ttf')  format('truetype'), /* Только если нужна поддержка старых Android, иначе закомментировать */ 
        url('../fonts/Constantia-Bold.woff') format('woff'); 
  font-weight: 700; 
  font-style: bold; 
}
@font-face { 
  font-family: 'Constantia-Bold-Italic'; 
  src: url('../fonts/Constantia-Bold-Italic.woff2') format('woff2'),
        url('../fonts/Constantia-Bold-Italic.eot') format('eot'),
        url('../fonts/Constantia-Bold-Italic.svg') format('svg'),
        url('../fonts/Constantia-Bold-Italic.ttf')  format('truetype'), /* Только если нужна поддержка старых Android, иначе закомментировать */ 
        url('../fonts/Constantia-Bold-Italic.woff') format('woff'); 
  font-weight: 700; 
  font-style: bold; 
}
@font-face { 
  font-family: 'Montserrat Alternates'; 
  src: url('../fonts/MontserratAlternates-Bold.woff2') format('woff2'),
        url('../fonts/MontserratAlternates-Bold.eot') format('eot'),
        url('../fonts/MontserratAlternates-Bold.otf') format('otf'),
        url('../fonts/MontserratAlternates-Bold.svg') format('svg'),
        url('../fonts/MontserratAlternates-Bold.ttf')  format('truetype'), /* Только если нужна поддержка старых Android, иначе закомментировать */ 
        url('../fonts/MontserratAlternates-Bold.woff') format('woff'); 
  font-weight: 500; 
  font-style: normal; 
}
@font-face { 
  font-family: 'Open Sans'; 
  src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
        url('../fonts/OpenSans-Regular.eot') format('eot'),
        url('../fonts/OpenSans-Regular.otf') format('otf'),
        url('../fonts/OpenSans-Regular.svg') format('svg'),
        url('../fonts/OpenSans-Regular.ttf')  format('truetype'), /* Только если нужна поддержка старых Android, иначе закомментировать */ 
        url('../fonts/OpenSans-Regular.woff') format('woff'); 
  font-weight: normal; 
  font-style: normal; 
}