* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	color: $color4;
	font-size: 15px;
	line-height: 1.2;
	background: $color3;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  
}

p {
	margin: 0;
	padding: 0;
}
ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
li {	
	list-style: none;
}
a {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: normal;
}
.container {
	height: 100%;
	position: relative;
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 20px;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table; 
}

.clearfix:after {
    clear: both;
}

.section-title {
	font-size: 42px;
	color: $color3;
	text-align: center;
	padding-top: 80px;
}
button {
	cursor: pointer;
	border: none;
  font-family: 'Montserrat Alternates', sans-serif;
	font-weight: 700;
}
.parallax-window {
  min-height: 500px;
  background: transparent;
}
/**/
.fa.sosial__icon {
	font-size: 15px;
	padding: 0 7px;
}
.sosial-icons img {
	padding: 0 7px;
	vertical-align: bottom;
}
.wrap {
  display: flex;
	max-width: 1170px;
  flex-wrap: wrap;
  flex-grow: 1;
}
.wrap1170 {
    max-width: 1170px;
    margin: 0 auto;
}

.hidden {
  display: none;
}
.btn-typical {
	padding: 10px;
  border-radius: 25px;
	cursor: pointer;
	display: block;
	text-align: center;
}
button.btn-typical {
	padding: 10px;
  border-radius: 21px;
  cursor: pointer;
}
.btn--upper {
	text-transform: uppercase;
}
.section {
  padding-top: 40px;
  padding-bottom: 40px;
}
.section__item {
  margin-left: 16px;
  margin-right: 16px;
}
.title-typical {
  padding-top: 13px;
	padding-bottom: 13px;
	text-align: center;
  font-size: 25px;
  font-family: 'Montserrat Alternates', sans-serif;
}
.subtitle-typical {
	font-family: 'Constantia-Bold', 'Arial Narrow', Arial, sans-serif;
	font-style: italic;
	font-size: 15px;
}
.form-typical {
  margin: 0 auto;
}
.form-typical input {
	padding: 10px;
	border-radius: 21px;
	font-size: 11px;
	width: 100%;
	margin: 6px 0;
}
.form-typical button {
	width: 100%;
	margin: 6px 0;
}
.typical__popup__overlay {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.typical__popup {
	padding: 13px 22px;
	max-width: 490px;

}